@import './vars';

* {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Euclid Flex', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #fafafa;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-size: unset;
	font-weight: unset;
}

.wrapper {
	max-width: 1516px;
	margin: 0 auto;
}

.header {
	@include flex(flex, space-between, center, 0);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	margin-top: 60px;
	&_logo {
		div:first-child {
			font-size: 48px;
			font-weight: 700;
			line-height: 61.92px;
			letter-spacing: -0.02em;
			color: var(--white);
			span {
				color: var(--red);
			}
		}
		div:last-child {
			font-size: 15px;
			font-weight: 300;
			line-height: 19.02px;
			color: var(--white);
		}
	}
	&_nav ul {
		@include flex(flex, space-between, center, 40px);
		li a {
			font-size: 20px;
			line-height: 25.36px;
			letter-spacing: -0.03em;
			color: var(--white);
			.active {
				color: #c0c0c0;
			}
		}
	}
	&_utils {
		@include flex(flex, space-between, center, 0);
	}
	&_lang {
		color: var(--white);
		font-size: 20px;
		line-height: 25.36px;
		letter-spacing: -0.03em;
		text-align: left;
		margin-right: 50px;
		span::after {
			content: url('../assets/shevron.svg');
			margin-left: 10px;
		}
	}
	&_num {
		background-color: var(--red);
		padding: 20px 30px;
		border-radius: 88px;
		margin-right: 29px;
		a {
			font-size: 20px;
			font-weight: 700;
			line-height: 25.36px;
			letter-spacing: -0.03em;
			color: var(--white);
		}
	}
	&_cart {
		border: 2px solid #ffffff1a;
		border-radius: 88px;
		padding: 24px 33px;
	}
}

.header_red {
	background-color: var(--red);
	position: relative;
	margin: 0 0 55px 0;
	padding: 25px 0;
	.header_num {
		background-color: var(--white);
		a {
			color: var(--red);
		}
	}
	.wrapper {
		@include flex(flex, space-between, center, 0);
	}
}

.breadcrums {
	margin-bottom: 40px;
	ul {
		@include flex(flex, flex-start, center, 0);
		li {
			&::after {
				content: url('../assets/caret.svg');
				vertical-align: sub;
				margin: 0 10px;
			}
			&:last-child::after {
				content: none;
			}
			a {
				font-size: 14px;
				line-height: 16.8px;
				letter-spacing: -0.03em;
				color: var(--brown);
				&.active {
					color: var(--black);
				}
			}
		}
	}
}

.billboard {
	@include flex(flex, center, center, 0);
	position: relative;
	background-image: url('../assets/redbus04.jpg');
	/* height: 979px; */
	&_info {
		width: 808px;
		text-align: center;
		margin-top: calc(60px + 75px + 208px);
		margin-bottom: 207px;
		h1 {
			font-size: 96px;
			font-weight: 700;
			line-height: 105.6px;
			letter-spacing: -0.03em;
			text-align: center;
			text-transform: uppercase;
		}
		p {
			font-size: 40px;
			font-weight: 300;
			line-height: 50.72px;
			letter-spacing: -0.03em;
			margin-top: 20px;
		}
		button {
			font-size: 20px;
			font-weight: 600;
			line-height: 25.36px;
			letter-spacing: -0.03em;
			margin-top: 47px;
			border: 2px solid #ffffff1a;
			padding: 35px 90px;
			border-radius: 90px;
			color: var(--white);
			background-color: transparent;
			&::after {
				content: url('../assets/arrowwhite.svg');
				margin-left: 10px;
			}
		}
	}
}

.tour {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin-bottom: 130px;
	&_info {
		background-image: url('../assets/baiterek.jpg');
		width: 985px;
		grid-column: span 2;
		grid-row: 1/-1;
		padding: 235px 142px;
		h3 {
			font-size: 48px;
			line-height: 57.6px;
			letter-spacing: -0.03em;
			margin-bottom: 60px;
		}
		button {
			padding: 35px 90px;
			border-radius: 90px;
			&:first-child {
				background-color: var(--red);
				margin-right: 27px;
				color: var(--white);
				font-size: 20px;
				font-weight: 600;
				line-height: 25.36px;
				letter-spacing: -0.03em;
				&::after {
					content: url('../assets/ticket.svg');
					margin-left: 10px;
				}
			}
			&:last-child {
				background-color: transparent;
				color: var(--white);
				font-size: 20px;
				font-weight: 600;
				line-height: 25.36px;
				letter-spacing: -0.03em;
				border: 2px solid #ffffff1a;
				&::after {
					content: url('../assets/arrowwhite.svg');
					margin-left: 10px;
				}
			}
		}
		p {
			font-size: 18px;
			font-weight: 300;
			line-height: 21.6px;
			letter-spacing: -0.03em;
			color: #d0d0d0;
			margin-top: 50px;
			a {
				text-decoration: underline;
				color: #d0d0d0;
			}
		}
	}
	&_tickets {
		background-image: url('../assets/red.png');
		background-color: var(--red);
		width: 468px;
		padding: 122px 0 122px 45px;
		h5 {
			font-size: 32px;
			font-weight: 500;
			line-height: 38.4px;
			letter-spacing: -0.03em;
			margin-bottom: 40px;
		}
		button {
			font-size: 18px;
			line-height: 22.82px;
			letter-spacing: -0.03em;
			background-color: transparent;
			color: var(--white);
			border: 2px solid var(--white);
			padding: 25px 40px;
			border-radius: 90px;
			&::after {
				content: url('../assets/arrowwhite.svg');
				margin-left: 10px;
			}
		}
	}
	&_schedule {
		background-image: url('../assets/white.png');
		width: 468px;
		padding: 122px 0 122px 50px;
		h5 {
			font-size: 32px;
			font-weight: 500;
			line-height: 38.4px;
			letter-spacing: -0.03em;
			color: var(--black);
			margin-bottom: 40px;
		}
		button {
			font-size: 18px;
			line-height: 22.82px;
			letter-spacing: -0.03em;
			background-color: transparent;
			color: var(--black);
			border: 2px solid #2d2d2d1a;
			padding: 25px 40px;
			border-radius: 90px;
			&::after {
				content: url('../assets/arrowblack.svg');
				margin-left: 10px;
			}
		}
	}
	&_rent {
		background-image: url('../assets/bustour.jpg');
		grid-column: span 2;
		width: 935px;
		padding: 84px 73px 84px 50px;
		h5 {
			font-size: 32px;
			font-weight: 500;
			line-height: 38.4px;
			letter-spacing: -0.03em;
			margin-bottom: 15px;
		}
		p {
			font-size: 18px;
			line-height: 21.6px;
			letter-spacing: -0.03em;
			margin-bottom: 40px;
		}
		button {
			font-size: 18px;
			line-height: 22.82px;
			letter-spacing: -0.03em;
			background-color: transparent;
			color: var(--white);
			border: 2px solid #ffffff1a;
			padding: 25px 40px;
			border-radius: 90px;
			&::after {
				content: url('../assets/arrowwhite.svg');
				margin-left: 10px;
			}
		}
	}
}

.audiogid {
	margin-bottom: 130px;
	h4 {
		font-size: 40px;
		font-weight: 700;
		line-height: 44px;
		letter-spacing: -0.03em;
		color: var(--black);
		margin-bottom: 84px;
	}
	&_logos {
		@include flex(flex, space-between, center, 23px);
		img {
			border-radius: 90px;
		}
	}
}

.faq {
	margin-bottom: 60px;
	h4 {
		font-size: 40px;
		font-weight: 700;
		line-height: 44px;
		letter-spacing: -0.03em;
		margin-bottom: 60px;
		color: var(--black);
	}
	summary,
	details {
		color: var(--black);
		/* padding: 40px; */
	}
}

.socials {
	@include flex(flex, space-between, center, 175px);
	margin-bottom: 70px;
	&_insta {
		@include flex(flex, space-between, center, 40px);
	}
	&_insta > div:first-child {
		width: 100px;
		height: 100px;
		background-color: var(--red);
		border-radius: 50%;
		padding: 25px;
	}
	&_insta > div:last-child {
		div:first-child {
			font-size: 24px;
			font-weight: 500;
			line-height: 26.4px;
			letter-spacing: -0.03em;
			color: var(--black);
		}
		div:last-child {
			font-size: 48px;
			font-weight: 600;
			line-height: 52.8px;
			letter-spacing: -0.03em;
			color: var(--black);
		}
	}
	&_publish {
		@include flex(flex, space-between, center, 80px);
	}
	&_publish div > div:first-child {
		font-size: 32px;
		font-weight: 700;
		line-height: 40.58px;
		color: var(--black);
	}
	&_publish div > div:last-child {
		font-size: 20px;
		line-height: 25.36px;
		color: #8f9cbb;
	}
	&_btn {
		button {
			color: var(--white);
			background-color: var(--red);
			padding: 35px 90px;
			border-radius: 90px;
			font-size: 20px;
			font-weight: 600;
			line-height: 25.36px;
			letter-spacing: -0.03em;
		}
	}
}

.instagram {
	@include flex(flex, space-between, center, 2px);
	flex-wrap: wrap;
	margin-bottom: 130px;
	div {
		width: calc(302px - 2px);
	}
}

.footer {
	color: var(--brown);
	background-color: var(--white);
	padding: 50px 0;
	&_box {
		@include flex(flex, space-between, center, 0);
		margin-bottom: 40px;
	}
	&_logo {
		div:first-child {
			font-size: 48px;
			font-weight: 700;
			line-height: 61.92px;
			letter-spacing: -0.02em;
			color: var(--brown);
			span {
				color: var(--red);
			}
		}
		div:last-child {
			font-size: 15px;
			font-weight: 300;
			line-height: 19.02px;
			color: var(--brown);
		}
	}
	&_nav ul {
		@include flex(flex, space-between, center, 40px);
		li a {
			color: var(--brown);
			font-size: 16px;
			line-height: 20.29px;
			letter-spacing: -0.03em;
		}
	}
	&_contacts {
		p {
			color: var(--brown);
			font-size: 16px;
			line-height: 20.29px;
			letter-spacing: -0.03em;
			margin-bottom: 12px;
			&:first-child::before {
				content: url('../assets/marker.svg');
				margin-right: 10px;
				width: 24px;
			}
			&:last-child::before {
				content: url('../assets/envelope.svg');
				margin-right: 10px;
				width: 24px;
			}
		}
	}
	&_copyright {
		color: var(--brown);
		font-size: 12px;
		line-height: 13.2px;
		letter-spacing: -0.03em;
	}
}
