:root {
	--red: #d41411;
	--white: #fff;
	--black: #000;
	--brown: #b3b3b3;
}

@mixin flex($display, $justify-content, $align-items, $gap) {
	display: $display;
	justify-content: $justify-content;
	align-items: $align-items;
	gap: $gap;
}
